654

/*
Typography
=========================== */
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #484242;
    overflow-x: hidden;
}

a {
    color: #484242;
}


a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6e6e73;
    margin: 0 0 15px 0;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    line-height: 52px;
}



h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 30px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    margin-bottom: 20px;
}

.section {
    padding: 70px 0;
    position: relative;
}

/*
Navbar Adjusment
=========================== */
/* Navbar Atribute ------*/


ul.cart-list>li.total>.btn {
    border-bottom: solid 1px #cfcfcf !important;
    color: #fff !important;
    padding: 10px 15px;
}

@media (min-width: 1024px) {

    /* Navbar General ------*/
    nav.navbar ul.nav>li>a {
        padding: 30px 15px;
        font-weight: 600;
    }

    nav.navbar .navbar-brand {
        margin-top: 0;
    }

    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }

    nav.navbar .navbar-brand {
        margin-top: 0;
    }

    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }

    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px;
    }

    /* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
        margin: 0 !important;
    }

    /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
        margin: 10px !important;
    }

    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        position: relative;
        top: -15px;
    }

    /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav,
    nav.navbar-sidebar .navbar-brand {
        margin-bottom: 50px;
    }

    nav.navbar-sidebar ul.nav>li>a {
        padding: 10px 15px;
        font-weight: bold;
    }

    /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
        background-color: rgba(255, 255, 255, 0.3);
        border-bottom: solid 1px #bbb;
    }

    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #555;
    }

    nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
        border-left: solid 1px #bbb;
    }

    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #555;
    }

    nav.navbar.bootsnav.no-background.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a,
    nav.navbar.bootsnav.no-background.white ul.nav>li>a {
        color: #fff;
    }

    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav>li>a {
        color: #eee;
    }
}

@media (max-width: 992px) {

    /* Navbar General ------*/
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: -2px;
    }

    nav.navbar .navbar-brand img.logo {
        width: 30px;
    }

    .attr-nav>ul>li>a {
        padding: 16px 15px 15px;
    }

    /* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav>li>a {
        padding: 15px 15px;
    }

    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu>li>a {
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }

    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }

    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        top: 0;
        padding-top: 10px;
    }
}

/* Navbar Inverse
=================================*/
nav.navbar.navbar-inverse {
    background-color: #222;
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li.total>.btn {
    border-bottom: solid 1px #222 !important;
}

nav.navbar.navbar-inverse ul.cart-list>li.total .pull-right {
    color: #fff;
}

nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav>li>a {
    color: #eee;
}

nav.navbar.navbar-inverse ul.nav>li.dropdown>a {
    background-color: #222;
}

nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu>li>a {
    color: #999;
}

nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
    color: #fff;
}

nav.navbar.navbar-inverse .form-control {
    background-color: #333;
    border-color: #303030;
    color: #fff;
}

nav.navbar.navbar-inverse .attr-nav>ul>li>a {
    color: #eee;
}

nav.navbar.navbar-inverse .attr-nav>ul>li.dropdown ul.dropdown-menu {
    background-color: #222;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li {
    border-bottom: solid 1px #303030;
    color: #eee;
}

nav.navbar.navbar-inverse ul.cart-list>li img {
    border: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list>li.total {
    background-color: #333;
}

nav.navbar.navbar-inverse .share ul>li>a {
    background-color: #555;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a {
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
    border-left: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li>a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul>li.active>a {
    background-color: #333 !important;
}

nav.navbar-inverse.navbar-full ul.nav>li>a {
    border: none;
}

nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
    background-color: #222;
}

nav.navbar-inverse.navbar-full .navbar-toggle {
    background-color: #222 !important;
    color: #6f6f6f;
}

@media (min-width: 1024px) {
    nav.navbar.navbar-inverse ul.nav .dropdown-menu {
        background-color: #222 !important;
        border-left: solid 1px #303030 !important;
        border-bottom: solid 1px #303030 !important;
        border-right: solid 1px #303030 !important;
    }

    nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu>li>a {
        border-bottom: solid 1px #303030;
    }

    nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu {
        border-left: solid 1px #303030;
        border-right: solid 1px #303030;
    }

    nav.navbar.navbar-inverse.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #999;
    }

    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #999;
    }

    nav.navbar.navbar-inverse.no-background.white .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav>li>a,
    nav.navbar.navbar-inverse.no-background.white ul.nav>li>a {
        color: #fff;
    }

    nav.navbar.navbar-inverse.no-background.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.no-background.dark .attr-nav>ul>li>a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav>li>a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav>li>a {
        color: #3f3f3f;
    }
}

@media (max-width: 992px) {
    nav.navbar.navbar-inverse .navbar-toggle {
        color: #eee;
        background-color: #222 !important;
    }

    nav.navbar.navbar-inverse .navbar-nav>li>a {
        border-top: solid 1px #303030;
        border-bottom: solid 1px #303030;
    }

    nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu>li>a {
        color: #999;
        border-bottom: solid 1px #303030;
    }

    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title {
        border-bottom: solid 1px #303030;
        color: #eee;
    }

    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul>li>a {
        border-bottom: solid 1px #303030;
        color: #999 !important;
    }

    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #303030;
    }

    nav.navbar.navbar-inverse .dropdown-tabs .tab-menu>ul {
        border-top: solid 1px #303030;
    }

    nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse {
        background-color: #222;
    }
}

@media (max-width: 767px) {
    nav.navbar.navbar-inverse.navbar-mobile ul.nav {
        border-top: solid 1px #222;
    }
}

/*
Color
=========================== */
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list>li>h6>a,
.attr-nav>ul>li>a:hover,
.attr-nav>ul>li>a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on>a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on>a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on>a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on>a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav>li>a:hover,
nav.navbar ul.nav>li.active>a:hover,
nav.navbar ul.nav li.active>a,
nav.navbar li.dropdown ul.dropdown-menu>li a:hover {
    color: #d44e28;
}

nav.navbar.navbar-transparent ul.nav>li>a:hover,
nav.navbar.no-background ul.nav>li>a:hover,
nav.navbar ul.nav li.scroll.active>a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu>li>a:hover,
nav.navbar ul.nav li.dropdown.on>a,
nav.navbar-dark ul.nav li.dropdown.on>a {
    color: #d44e28 !important;
}

@media(max-width:920px) {

    nav.navbar .dropdown .megamenu-content .col-menu ul>li>a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover {
        color: #d44e28 !important;
    }
}

/*
Border
=========================== */
ul.cart-list>li.total>.btn {
    border-color: #f43438;
}

nav.navbar li.dropdown ul.dropdown-menu {
    border-top-color: #d44e28 !important;
}

/*
Background
=========================== */
ul.cart-list>li.total>.btn,
.attr-nav>ul>li>a span.badge,
nav.navbar .share ul>li>a:hover,
nav.navbar .share ul>li>a:focus {
    background-color: #f43438;
}

ul.cart-list>li.total>.btn:hover,
ul.cart-list>li.total>.btn:focus {
    background-color: #dc3236 !important;
}


/*New Css*/

/*Header css*/
.top-side-nav {
    padding: 10px 0px 16px;
    background-color: #d44e280d;
}

.nav-lft {
    padding-left: 144px;
}

.nav-rght .form-control {
    display: inline-block;
    position: relative;
    border-radius: 50px;
    border-color: #d44e28;
    background: #ffffff85;
    margin-top: 12px;
    padding-left: 65px;
}

.nav-rght button.btn-primary {
    position: absolute;
    background: transparent;
    border: 0px;
    top: 12px;
    color: #d44e28;
    left: 30px;
    outline: none;
}

ul.side-navigation {
    padding: 0;
    margin: 0;
    width: 25%;
    background: #f4f4f4;
    height: 600px;
}

.pm0 {
    padding: 0px;
}

.nav-links ul li {
    display: block;
}

.nav-links ul li a {
    color: #414040;
    display: block;
    font-size: 15px;
    padding: 15px 10px 15px 100px;
    background: #eaeaea;
    font-weight: 600;
}

.nav-links ul li:nth-child(even) a {
    background: #f4f4f4;
}

.nav-links .dropdown-menu {
    width: 800px !important;
    left: 100%;
    top: 0px;
    background: transparent !important;
    border-top: 0 !important;
    margin-left: 60px;
    margin-top: 20px;
}

.nav-links ul li.dropdown ul.dropdown-menu a {
    background: transparent !important;
    padding: 10px 10px;
}


.fixed-header {
    background: #f9f9f9 !important;
    position: fixed;
    display: block;
    z-index: 999999;
    left: 0;
    right: 0;
    transition: padding .3s;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    top: 0;

}


/*Home page Banner*/
.fr-sm {
    float: right;
}

/**
section.banner { position: relative;}
section.banner:before{ position:absolute; content:""; width:167px; height:657px; left:0; top:0px; background:url(../images/banner-bg1.png) no-repeat;}
section.banner:after{ position:absolute; content:""; width:750px; height:320px; right:0px; top:0px; background:url(../images/banner-bg2.png) no-repeat;z-index: -1;}
***/
.lft-ban {
    padding: 170px 0 40px;
}

.r-more img {
    padding-left: 10px;
    transition: 0.6s
}

.r-more:hover img {
    margin-left: 15px;
}

.lft-ban h2 {
    font-size: 40px;
    font-weight: 600;
}

.lft-ban p {
    color: #040506;
    font-size: 15px;
}

/***
.r-more{color:#d44e28; font-size:15px; text-decoration:none; font-weight:500; margin-top:16px; display: inline-block; position:relative;}
.r-more:before{position: absolute; content: ""; width: 0; height: 2px; background: #28658e;  bottom: 0px; left: 0px;   margin: 0 auto;  transition: .5s ease; overflow: hidden;}
.r-more:hover:before{ width:80px;}
***/
.rght-ban {
    padding: 60px 0 120px;
    text-align: center;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.imgup-down {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.main-banner-shape-4 {
    position: absolute;
    top: 9%;
    left: 12%;
    -webkit-transform: translateY(-10%) translateX(-50%);
    transform: translateY(-10%) translateX(-50%);
    -webkit-animation: animationFramesOne 10s infinite linear;
    animation: animationFramesOne 10s infinite linear;
}

}

@keyframes animationFramesOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.line {
    display: block;
    height: 1px;
    background: #FFF;
    margin: 5px 0;
    animation: line 1s;
    width: 10%;
}

@-webkit-keyframes line {
    from {
        width: 0;
    }

    to {
        width: auto;
    }
}

@keyframes line {
    from {
        width: 0px;
    }

    to {
        width: 10%;
    }
}

.rght-ban a {
    display: inline-block;
    text-align: center;
    margin-top: 85px;
    background: #d44e28;
    color: #FFF;
    padding: 6px 36px;
    border-radius: 6px;
    font-weight: 600;
}

.rght-ban a:hover {
    background: #28658e;
}

section.social-links {
    padding: 30px 0 26px;
    background: #f1efee;
    box-shadow: 0px 5px 0px #eaeaea;
}

section.social-links ul li {
    display: inline-block;
    margin-left: 55px;
}

section.social-links ul li a {
    font-size: 55px;
    color: #cccccc;
    transition: 0.5s;
}

section.social-links ul li a:hover {
    color: #d44e28
}

section.social-links ul {
    padding: 0 0 0 0;
    margin: 0px;
}

section.social-links p {
    margin-bottom: 0px
}

section.social-links h4 {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 21px;
}

/*About Homepage*/
section.about-hp {
    padding-top: 4em;
    padding-bottom: 4em;
}

section.aboutt-hp {
    padding: 70px 0;
}

.rght-abt-hp h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.3;
}

section.about-hppp {
    padding: 40px 0;
    margin-top: -120px;
    padding-top: 150px;
}



/*Client-homepage*/
section.client-hp .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.client-box {
    overflow: hidden
}

.client-box:hover img {
    transform: scale(1.1);
}

section.client-hp {
    background: #f1efee;
    padding: 30px 0 20px;
    box-shadow: 0px 5px 0px #eaeaea;
    margin-bottom: 5px;
}

section.client-hp .owl-theme .owl-nav [class*=owl-] {
    display: none;
}

section.client-hp button.owl-dot {
    background: transparent;
    border: 0;
    outline: 0;
}

section.client-hp .owl-dots {
    display: none
}

/*Service-hp*/
section.service-hp {
    padding: 70px 0;
    /* background: url(../images/service-bg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}

section.service-hpp {
    padding-top: 5em;
    padding-bottom: 2em;
    background-size: cover;
    background-position: center;
}

section.service-hp h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 5px;
}

/*section.service-hp h2:before{position:absolute; content:""; width:60px;  height:1px;  bottom:0px; background:#d44e28;}*/
section.service-hp .line {
    background: #d44e28;
    margin: 0 auto;
}

section.service-hp h2 span {
    color: #d44e28;
    font-weight: 500;
}

.service-box h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-box h3:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    bottom: 0px;
    background: #000;
}

.service-box {
    height: 350px;
    padding: 18px;
    transition: 0.6s;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
    box-sizing: border-box;
    min-height: 260px;
    width: 100%;
}

.service-box:hover {
    background: #fff;
    box-shadow: 0px 0px 5px #eae3e3;
}

.sub-service {
    margin-top: 50px;
}


/*Capabilities-hp*/
section.capabilities-hp {
    padding: 70px 0;
    background: #efeeee;
}

section.capabilities-hp h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 5px;
    color: #212121;
}

section.capabilities-hp .line {
    margin: 0 auto;
    background: #d44e28;
}

/*section.capabilities-hp h2:before{position:absolute; content:""; width:60px;  height:1px;  bottom:0px; background:#d44e28; margin:0 auto; left:0px; right:0px;}	*/
.sub-cap {
    margin-top: 50px;
}

.box-cap {
    text-align: center;
    padding: 22px 14px;
    transition: 0.6s;
}

.box-cap:hover {
    background: #FFF;
}

.box-cap h3 {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 500;
    color: #333333;
    height: 46px;
}

.box-cap p {
    color: #86878b
}

.box-cap span {
    width: 60px;
    height: 60px;
    border: 1px solid #ff8b38;
    border-radius: 50px;
    display: inline-block;
    padding-top: 14px;
    margin-bottom: 20px;
}

section.call-action a:hover {
    color: #d44e28;
}

section.capabilities-hp .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

section.capabilities-hp .owl-nav {
    display: none;
}

section.capabilities-hp .owl-dots {
    margin-top: 25px;
}

section.capabilities-hp .owl-theme .owl-dots .owl-dot {
    border: 0;
}

.owl-theme .owl-dots .owl-dot span {
    background: #d44e2887;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #d44e28 !important;
}

/*Call Action*/
section.call-action {
    padding: 50px 0px;
    background: url(../images/call-action-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

section.call-action h2 {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 25px;
}

section.call-action a {
    font-size: 32px;
    color: #FFF;
    font-weight: 400;
    margin-left: 35px;
    display: inline-block;
}


/*Footer*/
footer {
    padding: 87px 0 0 0;
    position: relative
}

footer:before {
    /* background: url(../images/foot-bg.png) no-repeat; */
    width: 600px;
    height: 400px;
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    background-size: cover;
}

.foot-social ul {
    padding: 0;
}

footer:after {
    /* background: url(../images/foot-lft-bg.png) no-repeat; */
    width: 176px;
    height: 400px;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    background-size: cover;
    z-index: -1;
}

.container.cbgf {
    background: url(../images/io/35.png) no-repeat;
}

.foot-abt p {
    margin-top: 45px;
}

.foot-nav ul li {
    display: block;
    margin-bottom: 12px;
}

.foot-nav ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #455a64;
    transition: 0.6s;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.foot-social ul li {
    display: inline-block;
    margin-right: 20px;
}

.foot-social ul li a {
    width: 29px;
    height: 41px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    font-size: 28px;
    transition: 0.6s;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .foot-social ul li a:hover {
    background: #d44e28;
} */

.foot-nav ul li a:hover {
    color: #d44e28;
    margin-left: 10px;
}

.call-foot-fix {
    display: none;
    position: fixed;
    width: 100%;
    padding: 10px 15px 6px;
    text-align: center;
    background: #28658e;
    z-index: 2;
    bottom: 0px;
}

.call-foot-fix a {
    color: #FFF;
    font-size: 21px;
}


/*Responsive code*/

@media only screen and (min-width:992px) {
    nav.navbar.bootsnav ul.nav>li>a:before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background: #d44e28;
        bottom: 20px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        transition: .5s ease;
        overflow: hidden;
    }

    nav.navbar.bootsnav ul.nav>li>a:hover::before {
        width: 100%;
    }

    .logo {
        margin-top: 10px;
    }


}


@media only screen and (max-width:1024px) {
    .foot-social ul li {
        margin-right: 10px;
    }

    .service-box {
        margin-bottom: 10px;
        height: 320px;
    }

    nav.bootsnav .megamenu-content {
        width: 100% !important;
    }


}

@media only screen and (max-width:992px) {
    nav.navbar.bootsnav {
        position: absolute;
        width: 100%;
        padding-bottom: 12px;
        padding-top: 10px;
    }

    section.banner {
        margin-top: 75px;
    }

    ul.nav.navbar-nav {
        background: #322E57;
    }

    nav.navbar.bootsnav ul.nav>li>a {
        color: #FFF;
    }

    .attr-nav {
        display: none;
    }

}

@media only screen and (max-width:991px) {
    .lft-ban h2 br {
        display: none
    }

    .lft-ban h2 {
        font-size: 36px;
    }

}


@media only screen and (max-width:767px) {
    .fr-sm {
        float: none;
    }

    .rght-ban a {
        display: none
    }

    .rght-ban {
        padding: 60px 0 40px;
    }

    .lft-ban {
        padding: 10px 0 40px;
        text-align: center
    }

    section.social-links ul li a {
        font-size: 50px;
    }

    section.about-hp {
        text-align: center;
        padding: 50px 0;
        margin-top: 0px;
    }

    .service-box {
        height: 360px;
    }

    .box-cap {
        padding: 12px 14px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 4px #ccc;
        background: #FFF;
    }

    section.capabilities-hp {
        padding: 50px 0;
    }

    section.service-hp {
        padding: 50px 0;
    }

    .foot-social ul li {
        margin-right: 6px;
    }

    .foot-social ul li a {
        width: 32px;
        height: 32px;
        padding-top: 5px;
    }

    footer:before {
        z-index: -1;
    }

    .r-more {
        margin-top: 4px;
    }

    .box-cap h3 {
        height: auto
    }

}


@media only screen and (max-width:600px) {

    .lft-ban h2 {
        font-size: 32px;
        line-height: 1.1;
    }

    section.social-links ul li a {
        font-size: 42px;
    }

    section.social-links ul li {
        margin-left: 42px;
    }

    .rght-abt-hp h2 {
        font-size: 28px;
    }

    p {
        margin-bottom: 15px;
    }

    section.service-hp .col-xs-6 {
        width: 100%;
    }

    .service-box {
        height: auto;
        box-shadow: 0px 0px 4px #CCC;
        margin-bottom: 20px;
    }

    footer .col-xs-6 {
        width: 100%;
    }

    footer .col-xs-3 {
        width: 100%;
    }

    footer ul {
        margin: 0px;
        padding: 0px;
    }


    .copy-right {
        padding-top: 25px;
        text-align: center;
    }

    .fn {
        display: none;
    }

    footer {
        text-align: center;
    }

    /*.foot-abt p{ display:none;}*/
    footer:before {
        width: 400px;
        height: 340px;
    }



    .owl-theme .owl-dots .owl-dot span {
        margin: 4px 2px
    }


}




@media only screen and (max-width:480px) {

    section.banner:before {
        display: none
    }

    section.social-links ul li {
        margin-left: 32px;
    }

    section.social-links ul li a {
        font-size: 38px;
    }

    section.call-action h2 {
        font-size: 22px;
        line-height: 1.2;
    }

    footer:before {
        display: none;
    }

    .lft-ban h2 {
        font-size: 30px;
    }

    .rght-abt-hp h2 {
        font-size: 22px;
    }

    section.service-hp h2 {
        font-size: 26px;
    }

    section.service-hp {
        background: #FFF;
    }

    section.call-action img {
        display: none;
    }

    section.call-action a {
        margin-left: 0;
    }

    .call-foot-fix {
        display: none;
    }

}

@media only screen and (max-width:414px) {
    section.social-links ul li {
        margin-left: 22px;
    }

    section.social-links ul li a {
        font-size: 34px;
    }

    section.social-links ul li:first-child {
        margin-left: 0px;
    }

    section.banner:after {
        width: 420px;
        height: 300px;
    }

}


@media only screen and (max-width:360px) {
    .copy-right p {
        font-size: 12px;
    }

    section.service-hp h2 {
        font-size: 27px;
        line-height: 1.3;
    }

    .rght-abt-hp h2 {
        font-size: 23px;
    }

    .lft-ban p {
        font-size: 14px;
    }

    section.social-links ul li a {
        font-size: 30px;
    }

    .attr-nav {
        margin-right: 0;
    }

    .navbar-toggle {
        margin-right: 0;
    }

}

.breadcrumbs {
    padding: 18px 0;
    background: #f8f9fa;
    min-height: 40px;
    margin-top: 80px;
}


.section-services {
    padding-top: 110px;
    padding-bottom: 120px;
    font-family: "Poppins", sans-serif;
    /* background-color: #211f24; */
    color: #fff;
}

.section-services .header-section {
    margin-bottom: 35px;
}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #f70037;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #f70037;
}

.section-services .header-section .title span {
    color: #f70037;
}

.section-services .header-section .description {
    color: #6f6f71;
}

.section-services .single-service {
    margin-top: 40px;
    background-color: #24252a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #f70037;
}

.section-services .single-service .part-1 .title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.8em;
}

.section-services .single-service .part-2 {
    padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #6f6f71;
    font-size: 14px;
    line-height: 1.8em;
}

.section-services .single-service .part-2 a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.section-services .single-service .part-2 a i {
    margin-right: 10px;
    color: #f70037;
}


.list-inline {
    display: block;
}

.list-inline li {
    display: inline-block;
}

.list-inline li:after {
    content: '|';
    margin: 0 10px;
}

.CTMS_heading {
    font-size: 40px;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.CTMS_heading_CMOW {
    font-size: 40px;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}



@media only screen and (max-width: 1200px) {
    .CTMS_heading {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 19%;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_heading {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 19%;
    }

    .CTMS_heading_CMOW {
        font-size: 2em;
        background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_heading {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 19%;
    }

    .CTMS_heading_CMOW {
        font-size: 2em;
        background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        padding-top: 2em;
    }

    h2.cmowtitle {
        text-align: center;
        background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.CTMS_he2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.3;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #6e6e73;
}

@media only screen and (max-width: 1200px) {
    .CTMS_he2 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_he2 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_he2 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
    }
}

.CTMS_sub_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
    color: #d44e28;
}

@media only screen and (max-width: 1200px) {
    .CTMS_sub_title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.3;
        color: #d44e28;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_sub_title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.3;
        color: #d44e28;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_sub_title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.3;
        color: #d44e28;
        text-align: center;
    }
}

#monitoring {
    padding-top: 8em;
}

#cmow_monitoring {
    padding-top: 9em;
}

#cmow_cloud_monitoring {
    padding-top: 15em;
}

mahol #realtime {
    padding-top: 5em;
}

@media only screen and (max-width: 1200px) {
    #monitoring {
        padding-top: 0em;
    }
}

@media only screen and (max-width: 600px) {
    #monitoring {
        padding-top: 0em;
    }
}


@media only screen and (max-width: 1200px) {
    .web_app {
        padding-left: 5em;
    }
}


.CTMS_iot {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.3;
    padding-top: 55%;
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_iot {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_iot {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

.CTMS_iot_header {
    color: #6e6e73;
    font-size: 1.3em;
    font-weight: 600;
}

.CTMS_mon_header {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.cmow_mon_header {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.CTMS_sub_title_ctms {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
    color: #6e6e73;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.CTMS_mon_headerr {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.CTMS_mon_headerrr {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 600;
    padding-left: 2em;
}

/* .CTMS_mon_headerrrr {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 31px;
    font-weight: 600;
    padding-left: 2em;
} */

.CTMS_mon_headerrrrsd {
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    .CTMS_iot_header {
        color: #d44e28;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_iot_header {
        color: #d44e28;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_iot_header {
        color: #d44e28;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_header {
        color: #d44e28;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }
}

.CTMS_iot_image {
    padding-left: 12em;
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_image {
        padding-left: 3em;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_iot_image {
        padding-left: 3em;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_iot_image {
        padding-left: 3em;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_image {
        padding-left: 3em;
        padding-top: 3em;
    }
}

.CTMS_iot_enable {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.3;
    padding-top: 3em;
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 425px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
    }
}

.CTMS_iot_enable_header {
    color: #d44e28;
    font-size: 2em;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .CTMS_iot_image {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 3em;
        text-align: center;
    }
}

.iot_water_level {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.3;
    padding-top: 55%;
}

@media only screen and (max-width: 1200px) {
    .iot_water_level {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 600px) {
    .iot_water_level {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 425px) {
    .iot_water_level {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1.3;
        padding-top: 0em;
    }
}

.iot_water_level_image {
    padding-left: 12em;
}

@media only screen and (max-width: 1200px) {
    .iot_water_level_image {
        padding-left: 4em;
    }

}

@media only screen and (max-width: 600px) {
    .iot_water_level_image {
        padding-left: 4em;
    }
}

@media only screen and (max-width: 425px) {
    .iot_water_level_image {
        padding-left: 4em;
    }
}

.ctms_reporting_analytics {
    padding-left: 18em;
}

@media only screen and (max-width: 1200px) {
    .ctms_reporting_analytics {
        padding-left: 2em;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .ctms_reporting_analytics {
        padding-left: 2em;
        padding-top: 3em;
    }
}

@media only screen and (max-width: 425px) {
    .ctms_reporting_analytics {
        padding-left: 2em;
        padding-top: 3em;
    }
}

.mask_img {
    padding-top: 40px;
}

@media only screen and (max-width: 1200px) {
    .mask_img {
        padding-top: 40px;
    }

}

@media only screen and (max-width: 600px) {
    .mask_img {
        padding-top: 40px;
    }

    .ctms_reporting_analytics {
        padding-left: 1em;
    }
}

@media only screen and (max-width: 425px) {
    .mask_img {
        padding-top: 7em;
    }

    .ctms_reporting_analytics {
        padding-left: 1em;
    }
}

.omms {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.1;
    color: #d44e28;
}


@media only screen and (max-width: 1200px) {
    .omms {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .omms {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 2em;
    }
}

@media only screen and (max-width: 425px) {
    .omms {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.1;
        color: #d44e28;
        padding-top: 2em;
    }
}

.ommsd {
    padding: 30px;
}

@media only screen and (max-width: 1200px) {
    .ommsd {
        padding: 30px;
        text-align: justify;
    }

    .fubag {
        padding-top: 24px;
        width: 20em;
    }
}

@media only screen and (max-width: 600px) {
    .ommsd {
        padding: 30px;
        text-align: justify;
    }
}

@media only screen and (max-width: 425px) {
    .ommsd {
        padding: 30px;
        text-align: justify;
    }
}

.fubag {
    padding-top: 24px;
    width: 20em;
}


@media only screen and (max-width: 600px) {
    .fubag {
        padding-top: 24px;
        width: 20em;
    }
}

@media only screen and (max-width: 425px) {
    .fubag {
        padding-top: 24px;
        width: 20em;
    }
}

.fubagg {
    width: 33em;
    padding-top: 21%;
}

@media only screen and (max-width: 1200px) {
    .fubagg {
        width: 33em;
        padding-top: 21%;
    }


}

#contriveljk {
    padding-top: 3em;
}

@media only screen and (max-width: 600px) {
    .fubagg {
        width: 33em;
        padding-top: 21%;
    }

    .mahole {
        height: 8em;
    }
}

@media only screen and (max-width: 425px) {
    .fubagg {
        width: 33em;
        padding-top: 21%;
    }

    .mahole {
        height: 8em;
    }
}

.footer_menu {
    padding-top: 6em;
}

/* Large desktop */
@media (min-width: 1200px) {
    .footer_menu {
        padding-top: 6em;
    }

    h3.cmow_title {
        padding-top: 75px;
        padding-left: 15em;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .footer_menu {
        padding-top: 0em;
    }

    iframe.video {
        width: 24em;
    }

    video#myVideo {
        height: 8em;
    }

    .col-md-6.frt {
        margin-top: 5em;
    }

    section.iuy {
        padding-top: 3em;
    }

    img.mahol {
        height: 18em;
    }

    h3.cmow_title {
        padding-top: 75px;
        padding-left: 4em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .footer_menu {
        padding-top: 0em;
    }

    iframe.video {
        width: 24em;
    }

    .col-md-12.lft-abt-hp.wow.fadeInUp.water_motor_automation {
        width: 26em;
        padding: 0px;
    }

    video#myVideo {
        height: 8em;
    }

    .fgft {
        background-image: linear-gradient(90deg, #2e1f7c, #6652e1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 21px;
    }

    .col-md-6.frt {
        margin-top: 5em;
    }

    section.iuy {
        padding-top: 3em;
    }

    img.mahol {
        height: 18em;
    }

    h3.cmow_title {
        padding-top: 75px;
        padding-left: 4em;
    }

    h2.cmowtitle {
        text-align: center;
        background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 0em;
    }

    .mahole {
        height: 8em;
    }
}

.col-md-6.frt {
    margin-top: 15em;
}

section.iuy {
    padding-top: 7em;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .footer_menu {
        padding-top: 0em;
    }

    iframe.video {
        width: 24em;
    }

    .col-md-12.lft-abt-hp.wow.fadeInUp.water_motor_automation {
        width: 26em;
        padding: 0px;
    }

    .video_con {
        height: 8em;
    }

    video#myVideo {
        height: 8em;
    }

    .fgft {
        background-image: linear-gradient(90deg, #2e1f7c, #6652e1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 21px;
    }



    img.mahol {
        height: 18em;
    }

    h3.cmow_title {
        padding-top: 75px;
        padding-left: 4em;
    }

    #contriveljk {
        padding-top: 3em;
    }

    img.oi-mahole {
        height: 8em;
    }

    .col-sm-6.secound {
        padding-top: 0em;
    }

    .col-sm-6.water_level {
        padding-top: 4em;
        text-align: center;
    }

    span.text-justify.CTMS_mon_header {
        font-size: 19px;
    }

    .col-sm-6.four {
        text-align: center;
    }

    .col-sm-6.first {
        text-align: center;
        padding-top: 2em;
    }

    .col-sm-6.water_level {
        padding-top: 4em;
    }

    section.about_contrive_rt {
        padding-top: 1em;
    }

    .col-sm-6.cloud_server {
        padding-top: 3em;
        text-align: center;
    }

    .ml3 {
        font-weight: 600;
        font-size: 1.5em;
        color: white;
        font-family: poppins;
        line-height: 80px;
    }
}



.col-sm-6.first {
    text-align: center;
    padding-top: 7em;
}

.col-sm-6.water_level {
    padding-top: 12em;
}


img.oi-mahole {
    height: 18em;
}



h2.cmowtitle {
    text-align: center;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.cmowtitle_novelty {
    text-align: center;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 2em
}

section.career_img {
    padding: 129px 0;
    background: url(../images/carrer1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.yuy {
    border: 2px solid #fff;
    color: #010;
    padding: 38px;
    background: #ffffffc9;
    border-top: 2px solid #d83d11;
}

span.career_heading {
    font-size: 1.3em;
    text-align: justify;
}

.career_post {
    padding: 5em;
}

.btn-successs {
    color: #fff;
    background-color: #d44e28;
    border-color: #d44e28;
}

.careers__jobinfo {
    padding: 32px 24px;
    color: #0070ad;
    margin-bottom: 50px;
}

.careers__jobinfo,
.careers__jobsearch {
    background-color: #f3f3f3;
}

.careers__jobinfo__header {
    margin-top: 28px;
    font: 14px/1 ubuntu, Verdana, Arial, sans-serif;
    color: #2b0a3d;
    margin-bottom: 5px;
}

.ddd {
    background: url(../images/call-action-bg.jpg);
    text-align: center;
    padding-top: 1em;
}

* This only changes this particular animation duration */ .animate__animated.animate__bounce {
    --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.section-bg {
    background-color: #eee;
}

h2.qr_co {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
    /* padding-top: 23%; */
    text-align: center;
    background-image: linear-gradient(90deg, #2e1f7c, #6652e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content-video {
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    text-align: center;
}

.cmoes {
    font-size: 29px;
    font-weight: 700;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #6e6e73;
    letter-spacing: .004em;
    line-height: 1.3;
}

.cmow_title {
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #173597, #2c5de2);
    will-change: transform;
    padding-top: 0.5px;
    overflow: hidden;
    background-color: #173597;
}

.fgft {
    background-image: linear-gradient(90deg, #2e1f7c, #6652e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.mahol {
    height: 37em;
}

.mahole {
    height: 20em;
}

.fdsfdsfdsf {
    text-align: center;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 2em;
    text-transform: uppercase;
}

.col-md-4.lft-abt-hp.wow.fadeInUp.one {
    width: 27em;
    padding: 0px;
}

img.dd-icon-sos.ir {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
}

h5.card-title.advisory {
    text-align: center;
}

.col-md-6.headerw {
    padding-top: 16em;
}

h2.fdsfdsfdsf {
    padding-bottom: 22px;
}

.dowlaod_button {
    background: linear-gradient(#e66465, #9198e5);
    border: none;
    color: white;
    padding: 6px 21px;
    cursor: pointer;
    font-size: 18px;
}

iframe.vide {
    width: 100%;
    height: 45em
}

.contr {
    text-align: center;
    font-size: 2em;
    color: #fff;
}